{% extends "base.html" %}

{% block tab_content %} 
    About Us
{% endblock %}

{% block page_content %}
    <div class="container">
            <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4">About</h1>
                <hr>
                <!-- Post Content -->
                <p class="lead">There are many blogs out. But every Blog is unique.</p>
            </div>
        </div>
    </div>
{% endblock %}
